<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.testmvvm">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USES_POLICY_FORCE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        tools:replace="android:theme,android:icon"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".view.LottieActivity"
            android:theme="@style/MaterialAnimations">
                <!-- enable window content transitions -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ReflectTestActivity"
            android:theme="@style/MaterialAnimations">
        </activity>
        <activity android:name=".mqtttest.MainActivity" />
        <activity android:name=".view.ActiveActivity" />
        <activity android:name=".view.KtActivity" />
        <activity android:name="com.test.testmvvm.recycleviewmodel.view.RecycleViewActivity" />
        <activity android:name=".recycleviewmodel.view.RecyclerViewActivity" />

        <receiver android:name=".receiver.LockScreen"></receiver>

        <receiver
            android:name=".receiver.Darclass"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/screen_on_off"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".MqttService" />
        <service android:name=".mqtttest.MQTTService" />
    </application>

</manifest>